@inherits LayoutComponentBase

<style>
    p{
        font-family: Sora;
        margin:0;
    }

    .bottom-tabs .tab-item.active {
        color: black; /* Change to your desired active text color */
    }

    .bottom-tabs .tab-item{
        width:25%;
        color: #999999;
        text-align:center;
    }

    i{
        font-size:22px !important;
    }

    
</style>
<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>

    <div class="bottom-tabs p-3" style="position: fixed; bottom: 0; width: 100%;background-color: #F0F0F0;">
        <div class="d-flex justify-content-between" style="width: 100%;">

            <div  @onclick="() => navigateToChats()" class="@((activeTab == "chats") ? "tab-item active" : "tab-item")">
                <i class="fa fa-commenting" aria-hidden="true"></i>
                @* <p style="font-size:14px;">Chats</p> *@
            </div>
            <div @onclick="() => navigateToGroups()" class="@((activeTab == "groups") ? "tab-item active" : "tab-item")">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                @* <p style="font-size:14px;">Groups</p> *@
            </div>
            <div @onclick="() => navigateToAllUsers()" class="@((activeTab == "allUsers") ? "tab-item active" : "tab-item")">
                <i class="fa fa-users" aria-hidden="true"></i>
                @* <p style="font-size:14px;">Peoples</p> *@
            </div>
           @*  <div  @onclick="() => navigateToStatus()" class="@((activeTab == "status") ? "tab-item active" : "tab-item")">
                <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                <p style="font-size:14px;">Status</p>
            </div> *@
            <div @onclick="() => navigateToProfile()" class="@((activeTab == "profile") ? "tab-item active" : "tab-item")">
                <i class="fa fa-user" aria-hidden="true"></i>
                @* <p style="font-size:14px;">Profile</p> *@
            </div>
            
           
        </div>
    </div>
</div>
<RadzenComponents />
@code{
    public string activeTab = AppConstants.ActiveTab;

    [Inject]
    NavigationManager _navigationManager{ get; set; }
    private void navigateToChats()
    {
        _navigationManager.NavigateTo("/chats");
        activeTab = "chats";
    }

    private void navigateToAllUsers()
    {
        _navigationManager.NavigateTo("/allUsers");
        activeTab = "allUsers";
    }
    private void navigateToStatus()
    {
        _navigationManager.NavigateTo("/status");
        activeTab = "status";
    }
    private void navigateToProfile()
    {
        _navigationManager.NavigateTo($"/profilePage/{"SelfProfile"}");
        activeTab = "profile";
    }
    private void navigateToGroups()
    {
        _navigationManager.NavigateTo("/groups");
        activeTab = "groups";
    }
}