@page "/groupChat/{GroupId:int}"


<style>
    p {
        font-family: Sora;
        margin: 0;
    }

    .content {
        padding-top: 0;
    }

    .msg-img {
        width: 140px;
        height: 150px;
        border-radius: 8px 8px 0 0;
    }

    .pdf-file-icon {
        width: 140px;
        height: 63px;
    }

    .msg-sender-name {
        font-size: 13px;
        color: #7196FF;
    }

    .custom-button:focus {
        box-shadow: none !important;
    }

    .custom-button:active {
        box-shadow: none !important;
    }

    .pdf-holder {
        background-color: #ADDAFA;
        border-radius: 8px;
        max-width: 70%;
        padding: 2px;
        height: 90px;
        overflow: hidden
    }

    .custom-input:focus {
        border: 0px;
        outline: none;
    }

    .custom-input {
        margin-left: 8px;
        border: 0px;
        outline: none;
        width: 100%;
    }

    .send-msg {
        border-radius: 8px;
        border: .5px solid #262626ff
    }

    .send-btn {
        font-size: 20px;
        background-color: white;
        color: #262626ff;
        padding: 0px !important;
        margin: 1px !important;
    }

    .document-icon {
        border-radius: 50%;
        background-color: #F0F0F0;
        width: 46px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu {
        border: none;
        inset: auto auto 0px -13px !important;
    }
</style>

<div class="container p-0" style="height:100%">

    <!--header -->
    <div style="background-color:#F0F0F0;padding:5px;position:fixed;top:0px;width:100%;">
        <p id="myP"></p>
        <div class="d-flex justify-content-between align-items-center px-2" style="color:white;font-size:20px;">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center" @onclick="GoBack">
                    <i class="fa fa-angle-left" style="font-size:34px;color:#262626ff;" aria-hidden="true"></i>
                    <img src=".\imagePlace.jpg" class="ms-3" style="border-radius:50%;height:38px" />
                </div>
                <div class="ms-3">
                    <p style="color:#262626ff;font-family: Sora;" @onclick="GoToGroupDetails">@currentGroup.Name</p>

                    <p style="color:#262626ff;font-size:12px;margin-top:-2px;">@currentGroup.Description </p>
                    
                </div>
            </div>

            @*  <i class="fa fa-phone" style="color:green" aria-hidden="true"></i> *@
        </div>
    </div>


    <!-- middle -->


    <div class="px-3" style="padding-top: 4rem !important; padding-bottom: 3rem !important;">

        @for (int i = 0; i < allMessages.Count; i++)
        {

            <div style="display: flex; justify-content: @((allMessages[i].SenderId != loggedUserId) ? "flex-start" : "flex-end");padding:2px;">
                @if (allMessages[i].SenderId != loggedUserId)
                {
                    @if (allMessages[i].ContentType == MessageType.Written.ToString())
                    {
                        <div style="background-color:#E8E8E8; border-radius:8px; max-width:70%;padding:3px;">
                            <p class="msg-sender-name">@allMessages[i].SenderName</p>
                            <p style="color:#262626ff; padding: 4px;font-size:17px;">@allMessages[i].Content <span style="font-size:10px;">@allMessages[i].Time.ToString("HH:mm")</span></p>
                        </div>

                    }
                    else if (allMessages[i].ContentType == MessageType.Image.ToString())
                    {
                        <div style="background-color:#ADDAFA; border-radius:8px; max-width:70%;padding:2px;">
                            <img src="@GetUrl(allMessages[i].Content)" class="msg-img" />
                            <div class="d-flex  justify-content-between align-items-center " style="padding:1px;">
                                <p class="msg-sender-name">@allMessages[i].SenderName</p>

                                <span style="font-size:10px;margin-right:3px;">@allMessages[i].Time.ToString("HH:mm")</span>
                            </div>

                        </div>

                       
                    }
                    else
                    {
                        int index = i;

                        <div @onclick="() => OpenPdf(allMessages[index].Content)" class="pdf-holder">
                            <p class="msg-sender-name">@allMessages[i].SenderName</p>
                            <img src=".\pdfImagePlace2.png" class="pdf-file-icon" />
                            <div class="d-flex  justify-content-between align-items-center " style="padding:1px;">
                               <p class="msg-sender-name">@allMessages[i].SenderName</p>
                                <p style="font-size:10px;margin-right:3px;">@allMessages[i].Time.ToString("HH:mm")</p>
                            </div>

                        </div>


                    }

                }
                else
                {
                    @if (allMessages[i].ContentType == MessageType.Written.ToString())
                    {
                        <div style="background-color:#ADDAFA; border-radius:8px; max-width:70%;">
                            <div class="d-flex">
                                <p style="color:#262626ff; padding: 7px;font-size:17px;">@allMessages[i].Content <span style="font-size:10px;">@allMessages[i].Time.ToString("HH:mm")</span></p>

                            </div>
                        </div>

                       
                    }
                    else if (allMessages[i].ContentType == MessageType.Image.ToString())
                    {
                        <div style="background-color:#ADDAFA; border-radius:8px; max-width:70%;padding:2px;">
                            <img src="@GetUrl(allMessages[i].Content)" class="msg-img" />
                            <div class="d-flex  justify-content-end align-items-center " style="padding:1px;">
                                <span style="font-size:10px;margin-right:3px;">@allMessages[i].Time.ToString("HH:mm")</span>
                                
                            </div>

                        </div>
                        
                    }
                    else
                    {
                        int index = i;

                        <div @onclick="() => OpenPdf(allMessages[index].Content)" class="pdf-holder">
                            <img src=".\pdfImagePlace2.png" class="pdf-file-icon" />
                            <div class="d-flex  justify-content-between align-items-center " style="padding:1px;">
                                <p style="font-size:10px;margin-left:3px;color:white">Pdf</p>
                                <div class="d-flex  justify-content-end align-items-center " style="padding:1px;">
                                    <span style="font-size:10px;margin-right:3px;">@allMessages[i].Time.ToString("HH:mm")</span>
                                    
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
        }
    </div>
    
    <!-- bottom-->
    <!-- bottom-->
    <div style="position:fixed; bottom:0;width:100%;background-color:white;">

        <div class="d-flex" style="max-width: 90%;margin:auto;padding-bottom:5px;">
            <div class="dropdown">
                <div class="btn-group dropup">
                    <button type="button" class="btn custom-button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-v" aria-hidden="true" style="font-size: 26px;
    color: #262626ff;"></i>
                    </button>
                    <ul class="dropdown-menu" style="min-width: 0rem;padding: .5rem .5rem;">
                        <li>
                            <div class="document-icon mb-2">
                                <ImageUpload OnChange="UploadImageUrl" />
                            </div>
                        </li>
                        <li>
                            <div class="document-icon">
                                <PdfUpload OnChange="UploadPdfUrl" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <form onsubmit="@SendNewMessage" style="width: 100%;">

                <div class=" d-flex justify-content-center align-items-center send-msg w-100">
                    <div class="form-group" style="width: 100%;">
                        <input type="text" class="custom-input" id="sendMsgInput"  @bind-value="newMessage.Content" aria-describedby="emailHelp" placeholder="Enter Message" style="width: 100%;">
                    </div>

                    <button type="submit" class="btn custom-button"> <i class="fa fa-paper-plane-o" style="font-size:24px;" aria-hidden="true"></i></button>

                </div>


            </form>

        </div>

    </div>
   


</div>