@page "/groupChat/{GroupId:int}"


<style>
    p {
        margin: 0;
    }

    .content {
        padding-top: 0;
    }

    .msg-sender-name{
        font-size: 13px;
        color: #7196FF;
    }
    .msg-img {
        width: 120px;
        height: 120px;
        border-radius: 8px 8px 0 0;
    }

    .pdf-file-icon {
        width: 120px;
        height: 50px;
    }

    .pdf-holder {
        background-color: #7196FF;
        border-radius: 8px;
        max-width: 70%;
        padding: 2px;
        height: 72px;
        overflow: hidden
    }
</style>

<div class="container p-0" style="height:100%">

    <!--header -->
    <div style="background-color:#7196FF;padding:5px;position:fixed;top:0px;width:100%;">
        <p id="myP"></p>
        <div class="d-flex justify-content-between align-items-center px-2" style="color:white;font-size:20px;">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center" @onclick="GoBack">
                    <i class="fa fa-angle-left" style="font-size:34px;" aria-hidden="true"></i>
                    <img src=".\imagePlace.jpg" class="ms-3" style="border-radius:50%;height:35px" />
                </div>
                <div class="ms-3">
                    <p @onclick="GoToGroupDetails">@currentGroup.Name</p>

                    <p style="color:green;font-size:12px;margin-top:-4px;">@currentGroup.Description</p>

                </div>
            </div>

            @*  <i class="fa fa-phone" style="color:green" aria-hidden="true"></i> *@
        </div>
    </div>

    <!-- middle -->


    <div class="py-5 px-2">

        @for (int i = 0; i < allMessages.Count; i++)
        {

            <div style="display: flex; justify-content: @((allMessages[i].SenderId != loggedUserId) ? "flex-start" : "flex-end");padding:1px;">
                @if (allMessages[i].SenderId != loggedUserId)
                {
                    @if (allMessages[i].ContentType == MessageType.Written.ToString())
                    {
                        <div style="background-color:#F2F2F2; border-radius:8px; max-width:70%; padding: 5px;">
                            <p class="msg-sender-name">@allMessages[i].SenderName</p>
                            <p style="color:black;">@allMessages[i].Content <span style="font-size:10px;">@allMessages[i].Time.ToString("HH:mm")</span></p>
                        </div>
                    }
                    else if (allMessages[i].ContentType == MessageType.Image.ToString())
                    {
                        <div style="background-color:#7196FF; border-radius:8px; max-width:70%;padding:2px;">
                            <img src="@GetUrl(allMessages[i].Content)" class="msg-img" />
                            <div class="d-flex  justify-content-between align-items-center " style="padding:1px;">
                                <p class="msg-sender-name">@allMessages[i].SenderName</p>

                                <span style="font-size:10px;margin-right:3px;">@allMessages[i].Time.ToString("HH:mm")</span>
                            </div>

                        </div>
                    }
                    else
                    {
                        int index = i;

                        <div @onclick="() => OpenPdf(allMessages[index].Content)" class="pdf-holder">
                            <p class="msg-sender-name">@allMessages[i].SenderName</p>
                            <img src=".\pdfImagePlace2.png" class="pdf-file-icon" />
                            <div class="d-flex  justify-content-between align-items-center " style="padding:1px;">
                               <p class="msg-sender-name">@allMessages[i].SenderName</p>
                                <p style="font-size:10px;margin-right:3px;">@allMessages[i].Time.ToString("HH:mm")</p>
                            </div>

                        </div>


                    }

                }
                else
                {
                    @if (allMessages[i].ContentType == MessageType.Written.ToString())
                    {
                        <div style="background-color:#7196FF; border-radius:8px; max-width:70%;">
                            <div class="d-flex">
                                <p style="color:White; padding: 5px;">@allMessages[i].Content <span style="font-size:10px;">@allMessages[i].Time.ToString("HH:mm")</span></p>
                                @* <div style="color:#bbbbbb;font-size:11px;" class="d-flex flex-column">
                                    <i class="fa fa-check" style="margin-top: 10px;margin-right: 2px;" aria-hidden="true"></i>
                                    <i class="fa fa-check" style="margin-top:-6px;" aria-hidden="true"></i>
                                </div> *@

                            </div>
                        </div>
                    }
                    else if (allMessages[i].ContentType == MessageType.Image.ToString())
                    {
                        <div style="background-color:#7196FF; border-radius:8px; max-width:70%;padding:2px;">
                            <img src="@GetUrl(allMessages[i].Content)" class="msg-img" />
                            <div class="d-flex  justify-content-end align-items-center " style="padding:1px;">
                                <span style="font-size:10px;margin-right:3px;">@allMessages[i].Time.ToString("HH:mm")</span>
                               @*  <div style="color:#bbbbbb;font-size:11px;" class="d-flex flex-column">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <i class="fa fa-check" style="margin-top:-6px;" aria-hidden="true"></i>
                                </div> *@
                            </div>

                        </div>
                    }
                    else
                    {
                        int index = i;
                        <div @onclick="() => OpenPdf(allMessages[index].Content)" class="pdf-holder">
                            <img src=".\pdfImagePlace2.png" class="pdf-file-icon" />
                            <div class="d-flex  justify-content-between align-items-center " style="padding:1px;">
                                <p style="font-size:10px;margin-left:3px;color:white">Pdf</p>
                                <div class="d-flex  justify-content-end align-items-center " style="padding:1px;">
                                    <span style="font-size:10px;margin-right:3px;">@allMessages[i].Time.ToString("HH:mm")</span>
                                    @* <div style="color:#bbbbbb;font-size:11px;" class="d-flex flex-column">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <i class="fa fa-check" style="margin-top:-6px;" aria-hidden="true"></i>
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
    }
    <!-- bottom-->
    <div style="position:fixed; bottom:0;width:100%;background-color:white;">

        <div class="d-flex" style="max-width: 90%;margin:auto;padding-bottom:5px;">
            <form onsubmit="@SendNewMessage" style="width: 80%;">
                <div class="d-flex justify-content-center">
                    <div class="form-group" style="width: 100%;">
                        <input type="text"  @bind-value="newMessage.Content" aria-describedby="emailHelp" placeholder="Enter Message" style="width: 100%;">
                    </div>

                    <button type="submit" class="btn" style="background-color:#7196FF;color:White"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>

                </div>
            </form>
            <div>
                <ImageUpload OnChange="UploadImageUrl" />

            </div>
            <div>
                <PdfUpload OnChange="UploadPdfUrl" />

            </div>
        </div>

    </div>


</div>